
body{
  font-family: 'Oswald', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Special Elite', cursive;
}

img{
  max-width:100%;
}

.main {

  display: flex;
  flex-direction: row;
  justify-content: center;
  

}

.contact-dets{
  max-width:800px;
  margin: 0 auto;
  padding: 120px 30px;
}

.contact-dets h1{
  color: #020202;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
}

.contact-dets p{
  color: #020202;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  font-weight: 100;
  margin-top: 20px;
}

.contact-dets h2{
  color: #020202;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin-top: 20px;
}

.main .map {
  margin: 0 auto;
  padding-left: 300px;
  padding: 120px 30px;

}



footer{
  text-align:center;
  background-image: url('../img/craig-strahorn-215112.jpg');
  background-size:cover;
  color: #ffffff;
  padding: 50px 0;
  position: fixed;
  bottom: 0px;
  display: block;
  min-width: 100%;
 
}

.category{
  max-width:800px;
  margin: 0 auto;
  padding: 10px 30px;
}


.category h2{
  font-weight:100;
  font-size:52px;
  margin-bottom:30px;
  font-family: 'Open Sans Condensed', sans-serif;
}


.email-me {
  
    display: inline-block;
    padding: 0.8em 1.5em;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #fff !important;
    background: #5B5563;
    border: 0;
    border-bottom: 2px solid rgba(0,223,255,0.2);
    border-radius: 16px;
    cursor: pointer;
    margin-top: 10px;

}



